body{
    background-image: url('../CONTACT_US .png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.cookies-container{
  display: flex;
  justify-content: flex-end;   
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.cookies-menu {
    background-color: #d2b48c;
    border-radius: 25px;
    font-family: 'Cookie', cursive;
    width: max-content;
    padding: 15px;
    align-self: flex-end;
    position: relative;
    top: 40px;
    
}
    
.menu a {
    margin-left: 10px;
    text-decoration: none;
    color: maroon;
}

.menu a:hover {
    color: #fefefe; 
}
.fb{
    position: relative;
    width: 200px;
    left: 880px;
    top: 100px;
}
.btnfb{
    background-image: url('/static/images/fb_logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    border-radius: 0;
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: relative;
    margin: 20px auto;
    top: 10px;
}
.btnfb:hover {
transform: scale(1.1);
}
.btninsta{
    background-image: url('/static/images/insta_logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    border-radius: 0;
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: relative;
    margin: 20px auto;
    top :-70px;
}
.btninsta:hover{
    transform: scale(1.1);
}
.container_square{
    width: 500px;
    height: 600px;
    aspect-ratio: 1/1;
    background-color: #ebbb7c;
    border:2px dotted #ccc;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px auto; 
    
}
.conhdr{
    font-family: 'Cookie', cursive;
    position: relative;
    top: 40px;
}
.email{
    font-family: 'Cookie', cursive;
    position: relative;
    top: -90px;
    color: blue;  
}