body
{
    background-image: url('../cookiesbg.jpg'); 
    background-size: cover;     

}
.eng{

font-family: 'Cookie', cursive;
color: #8b4513;
}
.nih{
margin-right: 90px;
font-family: 'Cookie',cursive;
color: #8b4513
}
.cookie_box {
    background-color: #d2b48c;
    color: #3e2c1c;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 20px auto;
    position: absolute;
    top: 3%;
    left: 11%;
}

.intro_cookies {
    background-color: #d2b48c;
    color: #3e2c1c;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    position: absolute;
    top:40%;
    left: 20%;
    font-size: 8px;
    width : 400px;
    height: 200px;
}
.obj_cookies {
    background-color: #d2b48c;
    color: #3e2c1c;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
    width: 300px;
    height: 150px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 60%;
    font-size: 8px;
    width : 400px;
    height: 200px;
}
.cookie_box .eng{
margin: 0;
}
.cookie_box .nih {

    margin: 8px 0 0 ;   
}
.ban{
    margin-top: -40px;
}
 .btn {
      position: absolute;
      top: 65%;
      padding: 10px 20px;
      background-color: brown;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      margin: 10px auto 50px 350px;
      left: 10%;  
    }
    .btn:hover {
      background-color: #8b4513;
    }
    
.label_intro{
    font-family: 'Cookie', cursive;
    color: #ffffff;
    position: absolute;
    top: 30%;
    text-align: left;
    left:20%;
}
.label_obj {
    font-family: 'Cookie', cursive;
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 62%;
}
.obj_btn {
      position: absolute;
      top: 65%;
      padding: 10px 20px;
      background-color: brown;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      margin: 10px auto 50px 950px;
      left: 19%;
    }
    .obj_btn:hover {
      background-color: #8b4513;
    }

.cookies-menu{
    background-color: #d2b48c; 
    border-radius: 25px;       
    padding: 15px 30px;
    display: inline-block;      
    margin: 20px auto;         
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
    position: absolute;
    left: 65%;
}
.cookie-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: #8b4513;      
    margin: 0 15px;
    font-family: 'Cookie', cursive; 
    font-size: 20px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #fefefe; 
}



   /* Tablet pataas */
@media (min-width: 768px) {
  .cookie_box {
    width: 70%;
    font-size: 16px;
  }
}

/* Desktop pataas */
@media (min-width: 1200px) {
  .cookie_box {
    width: 50%;
    font-size: 18px;
  }
}

   /* Tablet pataas */
@media (min-width: 768px) {
  .cookie-menu {
    width: 70%;
    font-size: 16px;
  }
}

/* Desktop pataas */
@media (min-width: 1200px) {
  .cookie-menu {
    width: 50%;
    font-size: 18px;
  }
}





