body
{
    background-image: url('../cookiesbg.jpg'); 
    background-size: cover;     

}
.eng{

font-family: 'Cookie', cursive;
color: #8b4513;
}
.nih{
margin-right: 90px;
font-family: 'Cookie',cursive;
color: #8b4513
}

.cookie_box {
    background-color: #d2b48c;
    color: #3e2c1c;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;  
    position: relative;
    top: -210px;
    left: 160px;
    flex-shrink: 0;
}

.container_introcookies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
   
}
.intro_cookies { 
  position: relative;            
  background-color: #d2b48c;
  color: #3e2c1c;
  padding: 10px 10px 90px;       
  border-radius: 20px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
  width: 400px;
  height: 150px;
  margin: 0 0 auto 0;
  font-size: 8px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  left: -150px;
  text-align: center;
}


.obj_cookies {
  position: relative;            
  background-color: #d2b48c;
  color: #3e2c1c;
  padding: 10px 10px 90px;       
  border-radius: 20px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
  width: 400px;
  height: 150px;
  margin: 0 0 auto 0;
  font-size: 8px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  left: 300px;
  text-align: center;
  top: -250px;
 

}
.cookie_box .eng{
margin: 0;
}
.cookie_box .nih {

    margin: 8px 0 0 ;   
}
.ban{
    margin-top: -40px;
}
.btn {
  position: absolute;
  bottom: 15px;                  
  left: 50%;
  transform: translateX(-50%);   
  background-color: maroon;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
    background-color: #8b4513;
}
    
.label_intro{
    font-family: 'Cookie', cursive;
    color: #ffffff;
    position: relative;
    top: -30px;
    text-align: left;
    left:-150px;
}
.label_obj {
    font-family: 'Cookie', cursive;
    color: #ffffff;
    position: relative;
    top: -620px;
    text-align: left;
    left:300px;
}
.obj_btn {
  position: absolute;
  bottom: 15px;                  
  left: 50%;
  transform: translateX(-50%);   
  background-color: maroon;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.obj_btn:hover {
      background-color: #8b4513;
}
.cookies-container{
  display: flex;
  justify-content: flex-end;   
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.cookies-menu {
    background-color: #d2b48c;
    border-radius: 25px;
    font-family: 'Cookie', cursive;
    width: max-content;
    padding: 15px;
    align-self: flex-end;
    position: relative;
    top: 40px;
    
}
    
.menu a {
    margin-left: 10px;
    text-decoration: none;
    color: maroon;
}

.menu a:hover {
    color: #fefefe; 
}

.img_ban {
    width: 150px;
    
    position: relative;
    top: -60px;
}

.ban {
    width: 100%;
    height: auto;
    display: block;
    max-width: 150px;
}

 

