<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial -scale=1.0">
        <title>Baked good(Chonkies)</title>
         <link rel="icon" href="{{ url_for('static', filename='cookie.ico') }}" type="image/x-icon">
         <link rel="stylesheet" href="{{url_for('static', filename = 'css/contact.css')}}">
    </head>
    <body>
     <div class="cookies-container">
        <div class="cookies-menu">
            <nav class="menu">
                <a href="/"> HOME </a> |
                <a href="/our_cookies"> OUR COOKIES </a> |
                <a href="/bundles"> BUNDLES </a> |
                <a href="/contact">CONTACT US</a> 
            </nav>
        </div>
      </div>
      <div class="container_square">
            <h1 class = "conhdr">Contact Us</h1>
        <div class = "imgfb">
            <button class = "btnfb" onclick="window.location.href='https://www.facebook.com/share/16zWfYV4r3/'"></button>
        </div>
        <div class = "imginsta">
            <button class="btninsta" onclick="window.location.href='https://www.instagram.com/bkdchonkies?igsh=MWV1eGp6MjJ0b3ozcQ=='"></button>
        </div>
            <h1 class="email">chonkiesbkdgoodies@gmail.com</h1>
      </div>
    </body>
</html>