<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial -scale=1.0">
        <title>Baked good(Chonkies)</title>
         <link rel="icon" href="{{ url_for('static', filename='cookie.ico') }}" type="image/x-icon">
         <link rel="stylesheet" href="{{url_for('static', filename = 'css/contact.css')}}">
    </head>
    <body>
     <div class="cookies-container">
        <div class="cookies-menu">
            <nav class="menu">
                <a href="/"> HOME </a> |
                <a href="/our_cookies"> OUR COOKIES </a> |
                <a href="/bundles"> BUNDLES </a> |
                <a href="/contact">CONTACT US</a> 
            </nav>
        </div>
      </div>
    </body>
</html>