<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial -scale=1.0">
        <title>Baked good(Chonkies)</title>
         <link rel="icon" href="{{ url_for('static', filename='cookie.ico') }}" type="image/x-icon">
         <link rel="stylesheet" href="{{url_for('static', filename = 'css/sl_style.css')}}">
    </head>
        <body>
             <div class="cookies-container">
        <div class="cookies-menu">
            <nav class="menu">
                <a href="/"> HOME </a> |
                <a href="/our_cookies"> OUR COOKIES </a> |
                <a href="/bundles"> BUNDLES </a> |
                <a href="/contact">CONTACT US</a> 
            </nav>
        </div>
      </div>
            <h1 class = 'hb_h1'>Sugar-Free Delight</h1>
            <img src="{{ url_for('static', filename='images/Golden Sugarless Oats.jpeg') }}" class="goldensugarlessoats" alt="goldensugarlessoats">
            <h1 class = 'hb_title'> Golden Sugarless Oats <br> <span class="jp_title"> (きんいろのさとうなしオーツ) </span></h1>
            <h4 class = 'hb_des' id="gso">Rolled oats, coconut flour, monk fruit-hearty & fiber-rich without sugar.</h4>
            <img src="{{ url_for('static', filename='images/Berry Light Bite.jpeg') }}" alt="Berry Light Bite" class="berrylightbite">
            <h1 class = 'hb_title1'>Berry Light Bite <br> <span class="jp_title1">(ベリーライトバイト)</span></h1>
            <h4 class = 'hb_des1' id="blb">Dried blueberries, almond meal, coconut sugar substitute-tangy and light.</h4>
            <img src="{{ url_for('static', filename='images/Vanilla Pure Cookie.jpeg') }}" alt="Vanilla Pure Cookie" class="vanillapurecookie">
            <h1 class = 'hb_title2'>Vanilla Pure Cookie <br> <span class="jp_title2">(バニラピュアクッキー)</span></h1>
            <h4 class = 'hb_des2' id="vpc">Vanilla bean, almond flour, coconut milk-classic soft cookie, naturally sweet.</h4>
            <img src="{{ url_for('static', filename='images/Hazelnut Dream Cookie.jpeg') }}" alt="Hazelnut Dream Cookie" class="hazelnutdreamcookie">
            <h1 class = 'hb_title3'>Hazelnut Dream Cookie <br> <span class="jp_title3">(ヘーゼルナッツドリームクッキー)</span></h1>
            <h4 class = 'hb_des3' id="hdc">Hazelnuts, almond flour, vanilla – creamy, nutty cookie without added sugar.</h4>

        <img src="{{ url_for('static', filename='images/transbut.png') }}" 
         id="translateBtn" 
         class="btn-img"
         alt="Translate Button">
        <script>
            const translations = {
                gso:{
                    en: `Rolled oats, coconut flour, monk fruit – hearty & fiber-rich without sugar.`,
                    jp: `ロールドオーツ、ココナッツフラワー、らかんかーと、しんからファイバーゆたか、さとうなし。`
                },
                blb:{
                    en: `Dried blueberries, almond meal, coconut sugar substitute – tangy and light.`,
                    jp: `ドライブルーベリー、アーモンドプードル、ココナッツしゅがーだいようひん-さんっぱくてかるい。`
                },
                vpc:{
                    en: `Vanilla bean, almond flour, coconut milk – classic soft cookie, naturally sweet.`,
                    jp: `バニラビーンズ、アーモンドプードル、ココナッツミルク。定番のやわらかクッキー、自然な甘さ。`
                },
                hdc:{
                    en: `Hazelnuts, almond flour, vanilla – creamy, nutty cookie without added sugar.`,
                    jp: `ヘーゼルナッツ、アーモンドプードル、バニラ。砂糖なしの、クリーミーでナッツのクッキー`
                }
            };
            let language = 'en'; 
            document.getElementById('translateBtn').addEventListener('click', () => {
                language = (language === 'en') ? 'jp' : 'en';
                document.getElementById('gso').innerHTML = translations.gso[language];
                document.getElementById('blb').innerHTML = translations.blb[language];
                document.getElementById('vpc').innerHTML = translations.vpc[language];
                document.getElementById('hdc').innerHTML = translations.hdc[language];
            });



        </script>
        
        
        
        </body>


</html>